@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,700,700i|Faster+One|Open+Sans:300,300i,400,400i,700&display=swap');
@import "icons.css";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# CSS Variables
# Typography
# Navigation
# Links, Buttons
# Forms
# Carousel
# Featured
# Others
# Footer
# Media Queries for different screen sizes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# CSS Variables
--------------------------------------------------------------*/
:root {
	--banner-height: 450px;
    --theme-red: #aa0f0f;
    --join-border-colour: #59626a;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth !important;
}

body, p, small, input, ul>li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  	color: #000000;
}

h1 {
    margin: 1.5rem 0 1.5rem 0 !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Archivo', sans-serif;
    color: #000000;
}

h2 {
	font-size: 18pt;
  	line-height: 28pt;
  	margin: 0 0 20px 0;
}

h3 {
	font-size: 18pt;
	line-height: 26pt;
	font-weight: 500;
	margin: 15px 0;
}

h4 {
	font-size: 14pt;
	font-weight: 500;
	margin: 10px 0 15px 0;
	line-height: 22pt;
}

h5 {
	font-size: 12pt;
	font-weight: 700;
	line-height: 20pt;
	margin: 10px 0 10px 0;
}

p, ul>li {
	color: #000000;
	font-size: 11pt;
	font-weight: 300;
	line-height: 20pt;
}

p {
	margin-bottom: 15px;
}

.font-control {
  	font-size: 9pt;
}

.logo-text {
	font-family: 'Faster One', cursive;
	font-size: 50px;
	color: #000000;
}

p > span.abs-text {
    font-weight: 400;
}

.abs-text {
	color: var(--theme-red)
}

/* Bring it closer to icon image that has transparent space below figure */
figcaption {
    margin-top: -15px;
}

.article-label {
    margin-bottom: 5px !important;
}

/* Bring first row of icons closer to h1 as there is transparent space above figure */
.icons-row-1 {
    margin-top: -15px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.page-header {
    /*border-top: 3px rgb(32, 36, 37) solid;*/
    border-top: 3px var(--theme-red) solid;
}

.navbar-abs .navbar-nav .nav-link {
	color: #000000;
	font-family: 'Archivo', sans-serif;
	font-size: 11pt;
	font-weight: 400;
	text-transform: uppercase;
	padding: 15px 0;
}

.navbar-light .navbar-toggler {
  	border: none;
}

.navbar-abs .navbar-nav .nav-link:hover {
	  color: var(--theme-red);
}

.header-logo {
  	max-height: 50px;
}

/*--------------------------------------------------------------
# Links, Buttons
--------------------------------------------------------------*/
.btn-abs {
	color: #FFFFFF;
	font-family: 'Archivo', sans-serif;
	font-weight: 500;
	border-color: var(--theme-red);
	background: var(--theme-red);
	border-radius: 28px;
	min-width: 135px;
	text-transform: uppercase;
	padding: 10px 25px;
}

.btn-join-abs {
    color: var(--theme-red);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-color: #FFFFFF;
    background: #FFFFFF;
    border-radius: 28px;
    min-width: 135px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.btn-join-abs:hover {
    color: #FFFFFF;
    border-color: var(--theme-red);
    background: var(--theme-red);
    text-decoration: none;
}

.btn-abs:hover {
    color: #FFFFFF;
    box-shadow: 0 2px 5px 0 #dd898d;
}

.btn-abs-modal {
    color: #4D7488;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    background: #f2fbff;
    border: 2px solid #CEE2EC;
    border-radius: 100px;
    text-transform: uppercase;
    padding: auto 10px;
    font-size: 12px;
    margin: 0;
    height: 35px;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.form-container {
    background: #FFFFFF;
    border: 1px solid var(--join-border-colour);
    border-radius: 10px;
    padding: 15px;
}

label {
    font-size: 11pt;
    font-weight: 400;
    margin: 0;
}

input[type=text].form-control {
    height: 35px;
}

input[type=text] {
	font-family: 'Open Sans', sans-serif;
  	font-size: 9pt;
  	font-weight: 300;
  	color: #000000 !important;
}

.form-check {
    margin-left: 20px;
    padding-left: 0;
}

.form-control {
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--join-border-colour);
    color: #000000;
    font-size: 14px;
    font-weight: 400;
}

.form-control-lg {
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--join-border-colour);
    width: 100%;
    border-style: solid;
    color: #000000;
    font-weight: 400;
}

.form-control::placeholder, textarea.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #BBCAD2;
	font-size: 10pt;
	font-weight: 400;
	font-style: italic;
    opacity: 1; /* Firefox */
}

.form-control-lg::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #BBCAD2;
	font-weight: 400;
	font-style: italic;
	opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11, Edge */
	color: #BBCAD2;
    font-weight: 400;
    font-style: italic;
	font-size: 10pt;
}

/* Ensure the placeholders don't take on any of the styles of the input fields */
::placeholder {
    text-transform: none;
}

/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
.carousel-indicators {
	bottom: -20px;
}

.carousel-indicators .indicator {
	background-color: rgb(134, 140, 167);
}

.carousel-indicators .indicator.active {
	opacity: .3;
}

.carousel-item .image-container, .featured-banner .image-container {
	height: var(--banner-height);
	width: 100%;
	overflow: hidden;
}

.carousel-item .center-image, .featured-banner .center-image {
	position: relative;
	height: 100%;
	width: auto;
	margin-left: -25%;
}

.carousel-caption {
	width: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	padding-bottom: 0;
	padding-top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption > h3 {
	color: #ffffff;
	font-weight: 600;
	font-size: 12pt;
	line-height: 22px;
	letter-spacing: 0.1em;
	padding: 0 5%;
}

.carousel-caption > p {
	color: #ffffff;
	font-weight: 400;
	font-size: 9pt;
	padding: 0 5%;
	line-height: 14pt;
}

/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/
.featured-banner {
  width: 100%;
  height: var(--banner-height);
  background: rgb(241, 241, 241);
  overflow: hidden;
}

.featured-blurbs {
  height: auto;
  background: #F6F8FA;
  border-bottom: 1px solid #e5edf6;
}

.featured-blurbs .container {
  padding: 50px 0;
}

.featured-blurbs p {
  font-weight: 500;
  padding: 0 10px;
}

.featured-blurbs .blurb {
  text-align: center;
}

.featured-post h3 {
    margin-bottom: 5px;
}

.featured-post p {
    margin-bottom: 5px;
}

/*--------------------------------------------------------------
# Others
--------------------------------------------------------------*/
/* https://css-tricks.com/examples/hrs/ */
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.container {
	max-width: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#4D7488' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    flex-shrink: 0; /* For sticky footer and being able to push it */
}

.copyright {
    background-color: var(--theme-red);
}

.copyright p {
	color: #ffffff;
	padding: 10px 0 0 0;
	margin: 0 0 0 10px;
	font-size: 9pt;
	font-weight: 400;
	width: 100%;
	text-align: center;
}

.copyright a {
	color: #ffffff;
}

.copyright span {
	color: #ffffff;
	margin: 0px 8px 0px 5px; 
}

.copyright p.rights-reserved {
	color: #ffffff;
	padding: 0 0 10px 0;
	margin: 0 0 0 10px;
	font-size: 8pt;
	font-weight: 400;
	width: 100%;
	text-align: center;
}

.footer h5 {
    text-decoration: underline;
}

.footer .info-text {
    font-weight: 400;
    font-size: 10pt;
}

/*--------------------------------------------------------------
# Media Queries for different screen sizes
--------------------------------------------------------------*/
@media (min-width: 375px) {
    .header-logo {
        max-height: 80px;
    }
}

@media (min-width: 768px) {
    h2 {
        font-size: 22pt;
        line-height: 24pt;
        color: #4D7488;
        margin: 0 0 35px 0;
    }

    .carousel-item .image-container, .featured-banner .image-container {
        max-height: 450px;
    }

    .carousel-item .center-image, .featured-banner .center-image {
        position: relative;
        width: auto;
        height: 100%;
        margin-left: 0;
    }

    .carousel-caption > h3 {
        color: #ffffff;
        font-weight: 600;
        font-size: 14pt;
        font-style: italic;
        line-height: 18px;
        padding: 0 15%;
    }

    .carousel-caption > p {
        color: #ffffff;
        font-weight: 500;
        font-size: 11pt;
        padding: 0 15%;
        line-height: 16pt;
    }
}

@media(min-width: 992px) {
    input[type=text], input[type=email] {
        font-family: 'Open Sans', sans-serif;
        font-size: 11pt;
        font-weight: 400;
        color: #000000;
    }

    .navbar-abs .navbar-nav .nav-link {
        font-size: 10pt;
    }

    .container {
        max-width: 960px;
    }

    .carousel-item .image-container, .featured-banner .image-container {
        max-height: 450px;
    }

    .carousel-item .center-image, .featured-banner .center-image {
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .modal-lg {
        width: 65%;
        max-width: 1034px;
    }
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	.navbar-abs .navbar-nav .nav-link {
		font-size: 11pt;
	}
}
